<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<main id="main" layout:fragment="content">
    <div class="write">
        <form action="/sellboard/register" method="post" id="f1" onsubmit="appendFileData()">
            <input type="hidden" class="form-control" th:value="${#authentication.principal.username}" name="writer"
                   readonly/>

            <div class="w_title">
                <input type="text" name="title" placeholder="도서 제목을 입력하세요">
            </div>

            <!-- 파일 업로드 -->
            <div class="w_img">
                <input type=file name='file1' style='display: none;'>
                <div class="up_img">
                    <div class="row mt-3">
                        <div class="col ">
                            <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">
                            </div>
                        </div>
                    </div>

                    <div class="uploadHidden">
                        <button type="button" class="btn btn-primary uploadFileBtn">파일 업로드</button>
                    </div>

                </div>
            </div>

            <div class="w_price">
                <p class="w_op"><span><strong>정가  </strong></span>
                    <input type="text" name="bookPrice" placeholder="정가를 입력하세요"></p>
                <p class="w_sp"><span><strong>판매가  </strong></span>
                    <input type="text" name="sellPrice" placeholder="판매가를 입력하세요"></p>
                <p class="w_c"><span><strong>상태</strong></span>
                    <input type="radio" name="sellCondition" value="NEW" checked="checked">
                    <span>새것</span>
                    <input type="radio" name="sellCondition" value="AlmostNew">
                    <span>거의 새것</span>
                    <input type="radio" name="sellCondition" value="OLD">
                    <span>사용감 있음</span></p>
            </div>
            <!-- 도서정보 -->
            <div class="w_b_infowrap">
                <p class="w_info_title"><span><strong>도서 정보</strong></span>
                <ul class="w_info_list">
                    <li class="w_book_title"><span><strong>도 서 명  </strong></span>
                        <input type="text" name="bookTitle"
                               placeholder="도서 제목을 입력하세요">
                    </li>
                    <li class="w_info_witer"><span><strong>글 쓴 이  </strong></span>
                        <input type="text" name="bookWriter"
                               placeholder="저자를 입력하세요"></li>
                    <li class="w_info_publ"><span><strong> 출 판 사 </strong></span>
                        <input type="text" name="bookPublisher"
                               placeholder="출판사를 입력하세요"></li>
                    <li class="w_info_date"><span><strong>출 간 일</strong></span>
                        <input type="text" name="bookDate"
                               placeholder="출간일을 입력하세요"></li>
                </ul>

            </div>

            <div class="w_d_infowrap">
                <p class="w_d_infowrap_title"><span><strong>상세 설명</strong></span></p>
                <textarea name="sellContent" role="100%" cols="128%" rows="8"
                          placeholder="상세 설명을 입력하세요"></textarea>

            </div>

            <!--            <div class="w_b_infowrap">-->
            <!--                <ul class="w_info_list">-->
            <!--                    <li class="w_info_publ"><span><strong>댓글 </strong></span>-->
            <!--                        <input type="text" name="bookPublisher"-->
            <!--                               placeholder="댓글을 입력하세요"></li>-->
            <!--                    <li class="w_info_date"><span><strong>댓글</strong></span>-->
            <!--                        <input type="text" name="bookDate"-->
            <!--                               placeholder="댓글을 입력하세요"></li>-->
            <!--                </ul>-->
            <!--            </div>-->

            <div class="w_btn">

                <button type="submit" class="btn-btn-submit" value="등록">등록</button>
                <button type="reset" class="btn-btn-remove" value="취소">취소</button>

            </div>
        </form>
    </div>

    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="file" name="files" class="form-control" multiple>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary uploadBtn">Upload</button>
                    <button type="button" class="btn btn-outline-dark closeUploadBtn">Close</button>
                </div>
            </div>
        </div>
    </div><!-- register modal -->


    <script layout:fragment="script" th:inline="javascript">
        var uploadResult = document.querySelector(".uploadResult")

        const errors = [[${errors}]]
        console.log(errors)

        let errorMsg = ''

        if (errors) {
            for (let i = 0; i < errors.length; i++) {
                errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
            }
            history.replaceState({}, null, null)
            alert(errorMsg)
        }

        const link = [[${pageRequestDTO.getLink()}]]
        const formObj = document.querySelector("#f1")

        function appendFileData() {

            const target = document.querySelector(".uploadHidden")
            const uploadFiles = uploadResult.querySelectorAll("img")

            let str = ''

            for (let i = 0; i < uploadFiles.length; i++) {
                const uploadFile = uploadFiles[i]
                const imgLink = uploadFile.getAttribute("data-src")

                str += `<input type='hidden' name='fileNames' value="${imgLink}">`
            }

            target.innerHTML = str;
            console.log(str)
            console.log(target)

        }

        function appendNotShownData() {

            if (removeFileList.length == 0) {
                return
            }

            const target = document.querySelector(".uploadHidden")
            let str = ''

            for (let i = 0; i < removeFileList.length; i++) {

                const {uuid, fileName} = removeFileList[i];

                str += `<input type='hidden' name='fileNames' value="${uuid}_${fileName}">`
            }
            target.innerHTML += str;
        }

        function callRemoveFiles() {

            removeFileList.forEach(({uuid, fileName}) => {
                removeFileToServer({uuid, fileName})
            })
        }


        //최종적으로 삭제될 파일들의 목록
        const removeFileList = []

        function removeFile(uuid, fileName, obj) {

            if (!confirm("파일을 삭제하시겠습니까?")) {
                return
            }

            console.log(uuid)
            console.log(fileName)

            console.log(obj)

            removeFileList.push({uuid, fileName})

            const targetDiv = obj.closest(".card")
            targetDiv.remove()
        }


        //업로드 모달
        const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))

        document.querySelector(".uploadFileBtn").addEventListener("click", function (e) {
            console.log("DEBUG uploadFileBtn")
            e.stopPropagation()
            e.preventDefault()
            uploadModal.show()

        }, false)

        document.querySelector(".uploadBtn").addEventListener("click", function (e) {

            const formObj = new FormData();

            const fileInput = document.querySelector("input[name='files']")

            console.log(fileInput.files)

            const files = fileInput.files

            for (let i = 0; i < files.length; i++) {
                formObj.append("files", files[i]);
            }


            uploadToServer(formObj).then(result => {
                console.log(result)
                //console.log(result)
                for (const uploadResult of result) {
                    showUploadFile(uploadResult)
                }
                uploadModal.hide()
            }).catch(e => {
                uploadModal.hide()
            })

        }, false)

        function showUploadFile({uuid, fileName, link}) {

            const str = `<div class="card col-4">
            <div class="card-header d-flex justify-content-center">
                ${fileName}
                <button class="btn-sm btn-danger" onclick="javascript:removeFile('${uuid}', '${fileName}', this)" >X</button>
            </div>
            <div class="card-body">
                 <img src="/view/${link}" data-src="${uuid + "_" + fileName}" >
            </div>
        </div><!-- card -->`

            uploadResult.innerHTML += str
        }

    </script>
</main><!-- End #main -->

