<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<main id="main" layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="notice_title"><span><strong>공지 목록</strong></span>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">게시번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">관리자</th>
                            <th scope="col">작성일</th>
                        </tr>
                        </thead>

                        <tbody th:with="link = ${pageRequestDTO.getLink()}">
                        <tr th:each="dto:${responseDTO.dtoList}">
                            <td>[[${dto.bno}]]</td>
                            <td>
                                <a th:href="|@{/board/read(bno =${dto.bno})}&${link}|" class="text-decoration-none">
                                    [[${dto.title}]] </a>
                            </td>
                            <td>[[${dto.writer}]]</td>
                            <td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="float-end">
                        <a class="create-btn btn btn-primary" href="/board/register">글쓰기</a>
                        <div style="float: right" class="custom-pagination">
                            <a th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}" th:data-link="${i}" href="#" th:class="${responseDTO.page == i}?'active':''" onclick="goToPage(this)">
                                [[${i}]]
                            </a>
                        </div>
                    </div>
                </div><!--end card body-->
            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->

    <script layout:fragment="script" th:inline="javascript">
        function goToPage(node) {
            urlParams = new URLSearchParams(window.location.search)
            urlParams.set("page", node.attributes.getNamedItem("data-link").value)

            window.location.href = window.location.origin + window.location.pathname + "?" + urlParams.toString()
        }
    </script>
</main><!-- End #main -->